<html>
    <head>
        <title>Удаление по id</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <a href="main.html">Главная</a>
                    <a href="edit.html">Изменения</a>
                    <a href="remove.html">Удалить</a>
                </td>
            </tr>
        </table>
        <form method='post'>
            <div>ID<input type="number" name="ID"></div>
            <div><input type="submit" value="send"></div>
        </form>
    </body>
</html>